################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sourceCode/WorkItemMigrator/packages
/sourceCode/WorkItemMigrator/bin
/sourceCode/WorkItemMigrator/obj
/sourceCode\WorkItemMigrator\packages
